@charset "UTF-8";

/*Tela de celular*/
@media screen and (min-width: 484px) and (max-width: 768px) {

/* Configuração do Header - Menu e Navegação */
    #burger {
        display: none;
    }

    .menu-bar {
        justify-content: center;
    }

    .menu {
        display: flex;
    }

    .logo {
        right: 30px;
    }

/* Configuração do corpo - Sobre mim */

    .sobre {
        width: 80vw;
        margin: auto;
    }

/* Configuração do corpo - Seção Habilidades e efeito */

    .box-content {
        width: 370px;
        height: 234px;
        margin: auto;
        margin-top: 4px;
    }

    .conteudo {
        width: 370px;
    }

    .hiden {
        display: none;
    }

/* Configuração do corpo - Projetos */
    .site-projeto p {
        width: 70vw;
        margin: auto;
    }

    .foto-pq {
        width: 450px;
    }
}

/* Tela tablet*/
@media screen and (min-width: 769px) and (max-width: 999px) {

    /* Configuração do Header - Menu e Navegação */
    #burger {
        display: none;
    }

    .menu-bar {
        justify-content: center;
    }

    .menu {
        display: flex;
    }

    .logo {
        right: 30px;
    }

    /* Configuração do corpo - Sobre mim */

    .sobre {
        width: 80vw;
        margin: auto;
    }

    /* Configuração do corpo - Seção Habilidades e efeito */
    .columns {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }

    .box-content {
        width: 370px;
        height: 234px;
        margin: auto;
        margin-top: 4px;
    }

    .conteudo {
        width: 100%;
    }

    .hiden {
        display: none;
    }

    /* Configuração do corpo - Projetos */
    .site-projeto p {
        width: 70vw;
        margin: auto;
    }

    .foto-pq {
        width: 500px;
    }
}

@media screen and (min-width: 999px) and (max-width: 1200px) {

     /* Configuração do Header - Menu e Navegação */
     #burger {
        display: none;
    }

    .menu-bar {
        justify-content: center;
    }

    .menu {
        display: flex;
    }

    .logo {
        right: 30px;
    }

    /* Configuração do corpo - Sobre mim */

    .sobre {
        width: 80vw;
        margin: auto;
    }

    /* Configuração do corpo - Seção Habilidades e efeito */
    .habilidades-config {
        display: flex;
        align-items: center;
    }

    .columns {
        width: 60vw;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 25px;
        margin: auto;
    }

    .box-content {
        width: 127px;
        height: 125px;
        margin: 0;
        padding: 2px;
    }

    .box-content:hover {
        background-color: #575757;
        transition: 1000ms;
    }

    .conteudo {
        display: none;
    }

    .hiden {
        display: block;
        padding-right: 10px;
        max-width: 350px;
        padding-left: 25px;
    }
    
    /* Configuração do corpo - Projetos */
    .site-projeto p {
        width: 70vw;
        margin: auto;
    }

    .foto-pq {
        width: 500px;
    }
}

/*Tela Notebook*/
@media screen and (min-width: 1200px) and (max-width: 1439px){
    
    /* Configuração Geral */
    h1, h2 {
        font-size: 1.8em;
    }
    
    p {
        font-size: 1.2em;
    }

    /* Configuração do Header - Menu e Navegação */

    #burger {
        display: none;
    }

    .menu-bar {
        justify-content: center;
    }

    .menu {
        display: flex;
    }

    .logo {
        right: 30px;
    }

    /* Configuração do corpo - Sobre mim */
    .sobre {
        width: 85vw;
        margin: auto;
    }

    /* Configuração do corpo - Seção Habilidades e efeito */
    .habilidades-config {
        display: flex;
        align-items: center;
    }

    .columns {
        width: 50vw;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 25px;
        margin: auto;
    }

    .box-content {
        width: 127px;
        height: 125px;
        margin: 0;
        padding: 2px;
    }

    .box-content:hover {
        background-color: #575757;
        transition: 1000ms;
    }

    .conteudo {
        display: none;
    }

    .hiden {
        display: block;
        padding-right: 16px;
        max-width: 350px;
        padding-left: 65px;
    }

    /* Configuração do corpo - Projetos */
    .projetos {
        margin: auto;
        padding-bottom: 80px;
    }

    .project-columns {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    
    .foto-pq {
        width: 500px;
    }

    .site-projeto {
        width: 50%;
    }

    .site-projeto p {
        width: 90%;
        margin: auto;
    }
}

/* Telas Grandes*/
@media screen and (min-width: 1440px) {
    
    /* Configuração Geral */
    h1, h2 {
        font-size: 1.8em;
    }
    
    p, .hiden {
        font-size: 1.2em;
    }
    header {
        font-size: 1.2em;
    }

    /* Configuração do Header - Menu e Navegação */
    #burger {
        display: none;
    }

    .menu-bar {
        justify-content: center;
    }

    .menu {
        display: flex;
    }

    .logo {
        right: 30px;
    }

    /* Configuração do corpo - Sobre mim */
    .sobre {
        width: 78vw;
        margin: auto;
    }

    /* Configuração do corpo - Seção Habilidades e efeito */
    .habilidades-config {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .columns {
        width: 35vw;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 25px;
        
    }

    .box-content {
        width: 127px;
        height: 125px;
        margin: 0;
        padding: 2px;
    }

    .box-content:hover {
        background-color: #575757;
        transition: 1000ms;
    }

    .conteudo {
        display: none;
    }

    .hiden {
        display: block;
        padding-right: 16px;
        max-width: 350px;
        padding-left: 65px;
    }

    /* Configuração do corpo - Projetos */
    .projetos {
        margin: auto;
        padding-bottom: 80px;
    }

    .project-columns {
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    
    .foto-pq {
        width: 500px;
    }

    .site-projeto {
        width: 50%;
    }

    .site-projeto p {
        width: 90%;
        margin: auto;
    }
}
