@charset "UTF-8";

/*Tela de celular*/
@media screen and (min-width: 484px) and (max-width: 768px) {

/* Configuração do Header - Menu e Navegação */
    #burger{
        display: none;
    }
    .menu-bar{
        justify-content: center;
    }
    .menu{
        display: flex;
    }
    .logo{
        right: 30px;
    }

/* Configuração do corpo - Sobre mim */

    .sobre{
        width: 370px;
        margin: auto;
    }

/* Configuração do corpo - Seção Habilidades e efeito */
    .box-content{
        width: 370px;
        margin: auto;
    }
    .conteudo{
        width: 370px;
    }
/* Configuração do corpo - Projetos */
    .site-projeto p {
        width: 370px;
        margin: auto;
    }
}
/* Tela tablet*/
@media screen and (min-width: 769px) and (max-width: 992px) {

    /* Configuração do Header - Menu e Navegação */
    #burger{
        display: none;
    }

    .menu-bar{
        justify-content: center;
    }

    .menu{
        display: flex;
    }

    .logo{
        right: 30px;
    }

    /* Configuração do corpo - Sobre mim */

    .sobre{
        width: 720px;
        margin: auto;
    }

    /* Configuração do corpo - Seção Habilidades e efeito */
    .columns{
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }

    .box-content{
        width: 365px;
        margin: auto;
    }

    .conteudo{
        width: 100%;
    }

    /* Configuração do corpo - Projetos */
    .site-projeto p {
        width: 480px;
        margin: auto;
    }
}
/*Tela tablet/Notebook*/
@media screen and (min-width: 1200px) and (max-width: 1439){
    
    /* Configuração Geral */
    h1, h2{
        font-size: 1.8em;
    }
    p{
        font-size: 1.2em;
    }
    /* Configuração do Header - Menu e Navegação */

    #burger{
        display: none;
    }
    .menu-bar{
        justify-content: center;
    }
    .menu{
        display: flex;
    }
    .logo{
        right: 30px;
    }
    /* Configuração do corpo - Sobre mim */

    .sobre{
        width: 85vw;
        margin: auto;
    }
    /* Configuração do corpo - Seção Habilidades e efeito */
    .habilidades{
        margin: auto;
    }
    .columns{
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    .box-content{
        width: 50%;
        padding: 0;
        border-radius: 6px;
        margin: 0;
    }
    .conteudo{
        width: 350px;
        margin: auto;
    }

    /* Configuração do corpo - Projetos */
    .projetos{
        margin: auto;
        padding-bottom: 80px;
    }
    .project-columns{
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    .foto-pq{
        width: 300px;
    }
    .site-projeto{
        width: 50%;
    }
    .site-projeto p {
        width: 350px;
        margin: auto;
    }
}

@media screen and (min-width: 1440px) {
    
}
