@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap');

/*Tela muito pequena*/
/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    /*width: 320px;*/
    width: 100vw;
    background-color: #202020;
    color: #e7e4e4;
    display: block;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 2px solid #333131;
    background-color: #121212;
    z-index: 1;
}

main {
    width: 100vw;
}

h1, h2, ul{
    font-family: 'Rajdhani', sans-serif;
}

p, .hiden {
    font-family: 'Oswald', sans-serif;
}

/* Configuração do Header - Menu e Navegação */
#burger {
    cursor: pointer;
    color: #333131;
    border-radius: 2px;
    margin-left: 7px;
}

#burger:hover {
    background-color: #575757;
}

.menu-bar {
    display: flex;
}

.menu {
    font-weight: 600;
    display: none;
    justify-content: center;
}

li {
    padding: 3px;
    border-radius: 5px;
    list-style: none;
}

a {
    color: #e7e4e4;
    text-decoration: none;
}

.menu > li:hover {
    background-color: #575757;
    color: #575757;
    text-decoration: underline;
}

.logo {
    position: absolute;
    right: 40px;
}

 /* Configuração do corpo - Saudação inicial */
 .inicio {
    text-align: center;
    padding-top: 80px;
 }

 .h1-init {
    margin-top: 60px;
    font-size: 3.2em;
    font-family: 'Oswald', sans-serif;
    display: block;
}

.saudacao {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    line-height: 2em;
    font-size: 1.55em;
}

.efeito-nome::after {
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: blink .9s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Configuração do corpo - Sobre mim */
.sobre {
    margin-top: 45px;
    padding-top: 80px;
    text-align: center;
    width: 100vw;
}

.sobre-mim p {
    width: 96vw;
}

.my-picture {
    border-radius: 5px;
    margin: 18px 0 18px 0;
    transition: 0.7s;
}
.my-picture:hover {
    transform: scale(105%)
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 55px;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    background-color: #7a7272;
    color: #00CDDA;
}
 /* Configuração do corpo - Seção Habilidades e efeito */
.habilidades {
    width: 100vw;
    margin-top: 45px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #121212;
}

.habilidades h1 {
    padding-bottom: 20px;
    text-align: center;
}

.box-content {
    margin: 4px 50px 0;
    border-radius: 6px;
    padding: 2px;
    background-color: #7a7272;
}


div {
    text-align: center;
    margin: 20px 0 20px 0;
}

.hiden {
    display: none;
}

/* Configuração do corpo - Projetos */
.projetos {
    width: 100vw;
    margin-top: 45px;
    padding-top: 80px;
    text-align: center;
}

.foto-pq {
    padding-top: 8px;
    width: 300px;
    transition: 0.7s;
}

.foto-pq:hover {
    transform: scale(105%)
}

.site-projeto {
    margin-top: 35px;
}

.site-projeto p {
    width: 94vw;
    margin: auto;
}

.tecnologia {
    padding-top: 10px;
    color: #00CDDA;
}

/* Rodapé */
footer {
    width: 100vw;
    text-align: center;
    background-color: #121212;
    margin-top: 45px;
    border-top: 2px solid #333131;
    padding: 25px 0 25px 0;
}

footer > p > a:hover {
    color: white;
    text-decoration: underline;
}